body{
    background-color: rgb(222, 244, 244);
    
}
.main{
    width: 600px;
    
    margin: auto;
}
.main1{
    width: 600px;
    height: 120px;
    background-color: aliceblue;
    margin: auto;
    border: 3px solid rgb(151, 139, 139);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    padding: auto;
    gap: 30px;
    
    
}
input{
    height: 20px;
    border-radius: 5px;
    margin-top: 30px;
}
button{
    height: 20px;
    border-radius: 5px;
    background-color: rgb(1, 1, 245);
    color: azure;
    border: none;
    margin-top: 30px;

}

i{
background-color: rgb(218, 218, 246);
color: blue;
}

